/****************************
	Menu Module
*****************************/
.menu ul{
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.menu a{
	color: black;
	padding: 15px;
}

.menu a.is-current{
	background-color: #BD3D3A;
	color: white;
}
