/*************************************
	Base
*************************************/
* {
	line-height: 1.5em;
	background-color: #F0EAD6;
}
nav li a {
	display: block;
	text-align: center;
	padding: 20px 16px;
	text-decoration: none;
	font-size: 24px;
}
.button {
	font-size: 24px;
	border-radius: 12px;
	background-color: #BD3D3A;
	width: 50%;
	height: 210px;
	float: right;
	text-align: center;
	text-decoration: none;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.sect li {
	padding-top: 12px;
	padding-bottom: 12px;
}
figure img{
	width: 200px;
}

.center {
	float:none;
	width: 100%;
	margin: auto;
}

section div{
	width: 50%;
}
/*************************************
	Layout
*************************************/
main {
	margin: 0 124px 0 124px;
	display: grid;
}
.top-bar, .top {
	display: flex;
	flex-direction: row;
	margin: 0 124px 0 124px;
}

nav {
	padding-top: 10px;
	align-items: center;
}
nav ul {
	position: absolute;
	right: 124px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li {
	float:left;
}
.sect {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
.center-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
figure {
	padding:0;
	display: inline-block;
	float: left;
}

/*************************************
	State
*************************************/

.hide-to-start {
	display: none;
}
.similar-start {
	margin-left: 236px;
}


